<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= page.title %></title>
    <%- include('../partials/components.ejs') %>
  </head>
  <body>
    <div class="interaction">
      <%- include('../partials/sidebar.ejs') %>
      <div id="content">
        <h3 class="title">About Us</h3>
        <div class="blocks">
          <div class="block">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
              nobis temporibus ratione beatae facere iusto ducimus porro totam.
              Officia odio vero ab. Perspiciatis suscipit obcaecati voluptatibus
              et, consectetur praesentium expedita? Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Ipsam, itaque. Adipisci aperiam
              fugiat quam amet voluptatem, optio alias eos. Iure ipsam quam ea
              porro doloremque neque cumque dolores corporis velit. Lorem, ipsum
              dolor sit amet consectetur adipisicing elit. Consectetur
              perferendis voluptatibus, rem quasi reprehenderit placeat natus
              dolore quas suscipit voluptates, illum illo porro quidem. Quae
              tenetur officiis recusandae repellendus possimus! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Ullam nobis
              temporibus ratione beatae facere iusto ducimus porro totam.
              Officia odio vero ab. Perspiciatis suscipit obcaecati voluptatibus
              et, consectetur praesentium expedita? Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Ipsam, itaque. Adipisci aperiam
              fugiat quam amet voluptatem, optio alias eos. Iure ipsam quam ea
              porro doloremque neque cumque dolores corporis velit. Lorem, ipsum
              dolor sit amet consectetur adipisicing elit. Consectetur
              perferendis voluptatibus, rem quasi reprehenderit placeat natus
              dolore quas suscipit voluptates, illum illo porro quidem. Quae
              tenetur officiis recusandae repellendus possimus! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Ullam nobis
              temporibus ratione beatae facere iusto ducimus porro totam.
              Officia odio vero ab. Perspiciatis suscipit obcaecati voluptatibus
              et, consectetur praesentium expedita? Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Ipsam, itaque. Adipisci aperiam
              fugiat quam amet voluptatem, optio alias eos. Iure ipsam quam ea
              porro doloremque neque cumque dolores corporis velit. Lorem, ipsum
              dolor sit amet consectetur adipisicing elit. Consectetur
              perferendis voluptatibus, rem quasi reprehenderit placeat natus
              dolore quas suscipit voluptates, illum illo porro quidem. Quae
              tenetur officiis recusandae repellendus possimus! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Ullam nobis
              temporibus ratione beatae facere iusto ducimus porro totam.
              Officia odio vero ab. Perspiciatis suscipit obcaecati voluptatibus
              et, consectetur praesentium expedita? Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Ipsam, itaque. Adipisci aperiam
              fugiat quam amet voluptatem, optio alias eos. Iure ipsam quam ea
              porro doloremque neque cumque dolores corporis velit. Lorem, ipsum
              dolor sit amet consectetur adipisicing elit. Consectetur
              perferendis voluptatibus, rem quasi reprehenderit placeat natus
              dolore quas suscipit voluptates, illum illo porro quidem. Quae
              tenetur officiis recusandae repellendus possimus!
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  #content .title {
    text-align: center;
    font-weight: bold;
  }

  #content .block {
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 20px;
  }

  #content .block p {
    font-weight: 100;
  }
</style>
