.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.auth-model {
  background: #fff;
  width: 95vw;
  max-width: 350px;
  margin-left: 50px;
}

.info-model {
  width: 100vw;
  max-width: 500px;
  margin-right: 50px;
  position: relative;
  top: -40px;
}

.auth-header {
  text-align: center;
  padding: 10px 0;
}

.auth-header p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.auth-header {
  margin-bottom: 20px;
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.auth-content img {
  width: 120px;
  height: 120px;
  border-radius: 99999px;
  margin-bottom: 10px;
}

.input-group .input-group-text {
  border-radius: 50px;
  background-color: #ffffff;
}

.input-group input {
  border-radius: 50px;
  background-color: #f7f7f7;
}

#btn-container button {
  border-radius: 50px;
  background-color: rgb(10, 241, 241);
  border: 1px solid rgb(10, 241, 241);
  color: black;
  font-weight: 500;
}

.toast {
  top: 0;
  right: 0;
}

.dashed-loading {
  position: relative;
  height: 50px;
}

.dashed-loading:after,
.dashed-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dashed-loading:before {
  z-index: 5;
  border: 3px dashed #ff6bcb;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s linear infinite;
  animation: dashed 1s linear infinite;
}

.dashed-loading:after {
  z-index: 10;
  border: 3px solid #ffb86c;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s ease infinite;
  animation: dashed 1s ease infinite;
}

@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dot-flasing {
  0% {
    background-color: #9880ff;
  }

  50%, 100% {
    background-color: #ebe6ff;
  }
}

.dot-flasing {
  display: flex;
  justify-content: center;
}

.dot-flasing > div {
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #9880ff;
  animation: dot-flasing .8s infinite alternate;
}

.dot-flasing > div:first-child {
  animation-delay: 0s;
}

.dot-flasing > div:nth-child(2) {
  animation-delay: .2s;
}

.dot-flasing > div:nth-child(3) {
  animation-delay: .4s;
}

.dot-flasing > div:last-child {
  animation-delay: .6s;
}