@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toast {
  position: absolute;
  right: 0;
}
